<style>
  body{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
</style>

<body>
  <div class="header">
    <img class="logo" src="../assets/logo-colegio-rauquen.png" >
    <div class="botones">
      <button class="btn">colegio</button>
      <button class="btn">quienes somos</button>
      <button class="btn">documentos oficiales</button>
      <button class="btn">infraestructura</button>
    </div>
    <div class="botones_2">
      <button class="btn">Ciclo</button>
      <button class="btn">Lista de Útiles 2024</button>
      <button class="btn">Link CEO</button>
      <button class="btn">Matriculas 2024</button>
    </div>
  </div>
  
  <div class="info">
    <h1 class="bienvenida">Bienvenido al colegio Rauquen</h1>

    <div class="relevantes">
      <div class="noticias">
        <p id="noticias" class="cambia">Texto 1</p>
      </div>
      <div class="importante">
        <p id="importante" class="cambia">Texto 1</p>
      </div>
      <div class="eventos">
        <p id="eventos" class="cambia">Texto 1</p>
      </div>
    </div>

    <div class="calendario">
      <div class="container">
        <h1>Calendario</h1>
        <calendario [events]="events"></calendario>
      </div>
    </div>

    <h2 class="accesos">Accesos Directos</h2>
    <p class="app">Alumnos, Profesores y Padres</p>
    <div class="directos">
      <div class="full">
        <h2 class="imph">FullCollege</h2>
        <p class="imp">Ingreso a la plataforma para 
          profesores, alumnos y 
          apoderados</p>        
      </div>
      <div class="puntaje">
        <h2 class="imph">Puntaje Nacional</h2>
        <p class="imp">Prueba de Invierno y Prueba 
          de Acceso a la educación
          Superior admisión 2024 </p> 
      </div>
      <div class="consejo">
        <h2 class="imph">Consejo Escolar</h2>
        <p class="imp">Toda la información 
          sobre la comunidad
          educativa
        </p> 
      </div>
      <div class="guia">
        <h2 class="imph">Guía de Estudio</h2>
        <p class="imp">Ingreso a la plataforma para 
          profesores, alumnos y 
          apoderados</p> 
      </div>
    </div>

    <h2 class="pds">Padres</h2>
    <p class="pdss">Todo acerca de lo que debes saber</p>
    <div class="padres">
      <img src="../assets/serious-young-woman-and-mid-adult-man-watching-magazine-scaled.jpeg" width="40%" height="100%">
      <button class="c">Cursos</button>
      <button class="p">Pastoral</button>
      <button class="t">Talleres</button>
    </div>

    <h2 class="re">Recursos externos</h2>
    <p class="fe">Fuentes de información complementaria</p>
    <div class="recursos">
      <img class="i1" src="../assets/logo-ayuda-mineduc2.png" width="25%" height="30%">
      <img class="i2" src="../assets/descarga.png" width="25%" height="30%">
      <img class="i3" src="../assets/LogoFulCollege_web.png" width="25%" height="30%">
      <img class="i4" src="../assets/logo-demre-2018-00.png" width="25%" height="30%">
      <img class="i5" src="../assets/large_Artboard_4.png" width="25%" height="30%">
    </div>

    <div class="nosotros">

    </div>

  </div>

  <script>
    const textos = ["NOSOTROS SOMOS DEPOLOGS", "LA FORMULA 1 ES LA MAXIMA CATEGORIA DEL AUTOMIVILISMO"];
    let currentIndex = 0;

    function cambiarTexto() {
      currentIndex = (currentIndex + 1) % textos.length;
      const elementoTexto = document.getElementById("textoCambiante");
      elementoTexto.textContent = textos[currentIndex];
    }

    cambiarTexto();
    setInterval(cambiarTexto, 10000);
  </script>

</body>


<router-outlet></router-outlet>
